<%= form_with model: @recipe, local: true do |f| %>

<div class="field_type">

<div class="field">
  <div class="field_image">

    <%= f.label :images, "料理の画像" %><br />
    <%= f.file_field :images, name: 'recipe[images][]', id:"cook_image" %>
      <div id="image-list"></div>

    <% @recipe.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>

  </div>
</div>


<div class="active-hash">
  <div class="field">
    <div class="field_time_require">
    所要時間<br/>
      <%= f.collection_select(:time_require_id, TimeRequire.all, :id, :name, {}, {class:"collection-select"}) %>
    </div>
  </div>

  <div class="field">
    <div class="field_category">
    カテゴリー<br/>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"collection-select"}) %>
    </div>
  </div>
</div>

<div class="field">
  <div class="tag-field", id='tag-field'>
    <%= f.label :name, "タグ", class:"tag-name" %><br />
    <%= f.text_field :name,  placeholder: "#時短レシピ(複数入力可)", class:"input-tag" %>
  </div>
    <div id="search-result">
    </div>
</div>

<div class="field">
  <div class="field_title">
    <%= f.label :title, "料理名" %><br />
    <%= f.text_field :title, id:"cook_title", class:"title_field" %>
  </div>
</div>

<div class="field">
  <div class="field_material">
    <%= f.label :material, "材料" %><br />
    <%= f.text_area :material, id:"cook_material", class:"material_field" %>
  </div>
</div>

<div class="field">
  <div class="field_text">
    <%= f.label :text, "調理方法" %><br />
    <%= f.text_area :text, id:"cook_text", class:"text_field" %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "シェアする", class: :form__btn %>
    <% end %>
  </div>
</div>