        
        <div class="recipe-image-content">
          <% recipe.images.find do |image| %>
            <div class="research-list">
              <%= image_tag image, class:"recipe-images" %>
          <% end %>
            <div class="top-icon">
              <i class="fa fa-heart like__btn"></i>
                <div class="count">
                  <%= recipe.likes.count %>
                </div>
            </div>
        </div>

        <div class="over-view">
          <div class="recipe-title">
            <h3 class="recipe-title">
              <%= recipe.title %>
            </h3>
          </div>

          <h3 class="recipe-category">
            <%= recipe.category.name %>
          </h3>
          <h3 class="time_require">
            <%= recipe.time_require.name %>
          </h3>
            </div>
        </div>