    <%= link_to recipe_path(recipe.id) do %>
      <div class="recipes__list">
        
        <div class="recipe-image-content">
          <% recipe.images.find do |image| %>
  <div class="research-list">
            <%= image_tag image, class:"recipe-images" %>
          <% end %>
        </div>

        <div class="over-view">
          <h3 class="recipe-title">
            <%= recipe.title %>
          </h3>
          <h3 class="recipe-category">
            <%= recipe.category.name %>
          </h3>
          <h3 class="time_require">
            <%= recipe.time_require.name %>
          </h3>
        </div>
  </div>
      </div>
    <% end %>