<div class="main-container">
<h1>タイトル</h1>

<%# レシピの表示 %>
<div class="recipe-contents">
  <% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe.id) do %>    
    <div class="recipe-info">
    <%= image_tag recipe.image, class: "recipe-images" %>
      
      <div class="over-view">
        <h3 class="recipe-title">
          <%= recipe.title %>
        </h3>
        <h3 class="recipe-category">
          <%= recipe.category.name %>
        </h3>
        <h3 class="time_require">
          <%= recipe.time_require.name %>
        </h3>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
</div>