<div class="research-list">

  <div class="research-bar">
    <%= form_with(url: research_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ズボラ飯", class: "sbox" %>
      <%= form.submit "検索", class: "sbtn" %>
    <% end %>
  </div>

  <div class="contents-row">
  
  <% if @recipes.length == 0 %>
    <div class="nil_message">ヒットする投稿は0件です</div>
  <% end %>

    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
        <%= render partial: "recipe", locals: { recipe: recipe } %>
      <% end %>
    <% end %>
  </div>
</div>