<!DOCTYPE html>
<html>
  <head>
    <title>RecipeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
   </head>

  <body>
    <header class="header">
        <div class="nav">
          <div class="new_post_btn">
            <%= link_to "投稿する", new_recipe_path, class: :post_btn %>
          </div>

          <ul class="lists-right">
            <% if user_signed_in? %>
              <div class="nav_right">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav_btn %>
              </div>
            <% else %>

              <div class="nav_right">
                <%= link_to "ログイン", users_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_path, class: :nav__btn %>
              </div>
            <% end %>
          </ul>
        </div>

          <div class="header-img">
            <%= link_to root_path, class: :logo_image do %>
              <h1>コン<br/>カツ</h1>
            <% end %>
          </div>

        </div>
    </header>
    <%= yield %>

    <footer>
      <p>＠KONKATU</p>
    </footer>
    
  </body>
</html>