<!DOCTYPE html>
<html>
  <head>
    <title>RecipeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css">
    <%#link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&display=swap" rel="stylesheet">
   </head>

  <body>
    <header class="header">
        <div class="nav">
          <div class="new_post_btn">
            <%= link_to "投稿する", new_recipe_path, class: :post_btn %>
          </div>

          <%# ログイン中は以下を表示%>
          <ul class="lists-right">
            <% if user_signed_in? %>
              <div class="nav_right">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav_btn %>
              </div>
            <% else %>
          <%# ログイン中は上記を表示%>

          <%# ログインしてない時は以下を表示 %>
              <div class="nav_right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          </ul>
        </div>
          <%# ログインしてない時は以下を表示 %>

          <div class="header-img">
            <%= link_to root_path, class: :logo_image do %>
              <h1>コン<br/>カツ</h1>
            <% end %>
          </div>

          <%# ハンバーガーメニューの表示 %>
        <div class="menu-list">
          <ul class="menu">
            <li class="menu__single">
              <a href="#" class="init-bottom">食の豆知識</a>
                <ul class="menu__second-level">
                  <li class="first"><a href="#">魚編</a></li>
                  <li class="second"><a href="#">お肉編</a></li>
                  <li class="third"><a href="#">野菜編</a></li>
                  <li class="forth"><a href="#">スイーツ編</a></li>
                </ul>
            </li>
          </ul>
        </div>
          <%# ハンバーガーメニューの表示 %>

        </div>
     </header>
    <%= yield %>
  <footer>
    <div class="footer">
    <p>＠KONKATU</p>
    </div>
  </footer>
  </body>
</html>