<!DOCTYPE html>
<html>
  <head>
    <title>RecipeShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrap">
    <header class="header">
      <div class="header-bar">
       <div class="nav">
        <div class="new_post_btn">
          <%= link_to "投稿する", new_recipe_path, class: :post_btn %>
        </div>
         <%# ログイン中は以下を表示%>
          <% if user_signed_in? %>
        <div class="nav_right">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav_btn %>
        </div>
          <% else %>
         <%# ログイン中は上記を表示%>
         <%# ログインしてない時は以下を表示 %>
        <div class="nav_right">
            <%= link_to "ログイン", new_user_session_path, class: :nav_btn %>
            <%= link_to "新規登録", new_user_registration_path, class: :nav_btn %>
        </div>
          <% end %>
         <%# ログインしてない時は以下を表示 %>
       </div>
      </div>
    </header>
    <%= yield %>
  </body>
  <footer>
     <p class="copyright">Copyright © RecipeShare SPACE All rights reserved.</p>
  </footer>
  </div>
</html>